:root {
  --bg-toolbar: #f5f5f5;
  --color-toolbar: rgb(0, 0, 0);
  --border-toolbar: 1px solid #e0e0e0;
}

.Toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bg-toolbar);
  color: var(--color-toolbar);
  border-bottom: 1px solid var(--border-toolbar);
  position: sticky;
  top: 0;
  z-index: 100;
}

.ToolbarLeft {
  display: flex;
  align-items: center;
}

.ToolbarSticky {
  background: #f5f5f5d6;
  backdrop-filter: blur(10px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-toolbar: #171717;
    --color-toolbar: #fff;
    --border-toolbar: 1px solid #2e2e2e;
  }

  .ToolbarSticky {
    background: #171717d2;
  }
}