.Note {
  display: flex;
  gap: 7px;
  flex-direction: column;
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out;
  position: relative;
}

.i-false {
  background: linear-gradient(to bottom, #e7e7e7, #dadada);
}

.i-true {
  background: linear-gradient(to bottom, #008ae6, #0099ff);
  color: white;
}

.Note:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
}

.HeaderNote {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 12pt;
}

.HeaderNote > .Date {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 9pt;
}

.NoteEditing {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 55%;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}

.NoteEditing textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 12pt;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.ImportantAndSave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-size: 12pt;
  padding: 10px;
}

@media (prefers-color-scheme: dark) {
  .i-true {
    background: rgb(0, 75, 137);
    color: inherit;
  }

  .i-false {
    background: #16181c;
    color: inherit;
  }

  .NoteBody textarea {
    background: #ffffff1a;
    color: #e0e0e0;
  }
.i-true .ActionButton:hover {
    background: #002c4a;
  }
  .i-false .ActionButton:hover {
    background: #000000b0;
  }
}

@media screen and (max-width: 500px) {
  .Note {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .Note {
    grid-column: span 3 !important;
  }
}
